###############################################################
##
## The Carte Blanche Guides
## Main Stylesheet
## CC-BY-SA 3.0 Jacob Cook 2012
##
## For more information about this project, visit
## http://jcook.cc/proj/cbg or http://github.com/jacook/cbg.
##
###############################################################

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-weight: bold;
}

p {
    font-family: sans-serif;
}

blockquote.codeml {
    font-family: monospace;
    background-color:#f9f9f9;
    margin-left: 15px;
    padding-left: 5px;
}

code.reg {
    font: monospace;
    background-color:#f9f9f9;
    margin-left: 15px;
    padding-left: 5px;
}

code.ubu {
    font: monospace;
    background-color:#f9f9f9;
    margin: 10px 10px;
    padding: 5px 10px 5px 30px;
    border-left: 3px solid #ff7a00;
    background-image: url('img/icon-ubu.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}

code.arch {
    font: monospace;
    background-color:#f9f9f9;
    margin: 10px 10px;
    padding: 5px 10px 5px 30px;
    border-left: 3px solid #1c73ba;
    background-image: url('img/icon-arch.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}

code.inl {
    font-family: monospace;
}

img.scr {
  width: 512px;
  height: 384px;
}

.warning {
  margin: 10px 10px;
  padding:15px 10px 15px 50px;
  border-left: 5px solid #febf12;
  background-image: url('img/icon-warning.png');
  background-repeat: no-repeat;
  background-position: 10px center;
} 

.info {
  margin: 10px 10px;
  padding:15px 10px 15px 50px;
  border-left: 5px solid #1c73ba;
  background-image: url('img/icon-info.png');
  background-repeat: no-repeat;
  background-position: 10px center;
} 